.main-head{
  height: 64px;

}

.main-body{
  height: calc(100vh - 64px );

}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-toolbar{
  background-color: #3f3d56;
  color: white;
}

.menu-image{
  width: 280px;
  object-fit: contain;
}

.main-name-profile {
  padding: 10px;
  font-weight: 600;
  color: #3f3d56;
}

.main-head {
  height: 65px;
  background-color: aqua;
}

.main-body {
  height: calc(100vh-665px);;
  background-color: aquamarine;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.main-toolbar{
  color:white;
}
.menu-image{
  width: 270px;
}
.main-name{
  padding: 7px;
  font-weight: 500;
}
